@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                Create
            </div>
        </div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.EditorFor(m => Model)
        </div>
        <div class="buttons-container">
            <input name="action" type="submit" value="Create" class="aui-button aui-button-primary" />
            @Html.ActionLink("Back", "Index", null, new {@class = "aui-button"})
        </div>
    </div>
}