<div id="pageLoading">
    <div id="pageLoadingContent">
        <p id="pageLoadingSpinner">
            <i class="fa fa-spinner fa-spin"></i><br/>
            Please wait...
        </p>
    </div>
</div>