@{
    ViewBag.Title = "Maintenance";
    Layout = "_BareLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="error-header"></h1>
    </div>
    <div class="panel-body">
        <img />
        <br />
        <p class="error-body">
        </p>
    </div>
</div>
