- page_title 'Settings', 'Administration'

%h3
  = fa_icon 'cogs'
  Settings

.row
  .col-md-12
    .alert.alert-info
      = fa_icon 'wrench'
      %strong System Updates Available!
      %br
      Newer versions of the GeneSIS core system and/or some of its modules are now available for download and installation.
      Updates can make GeneSIS add new features as well as resolve issues. They can also make GeneSIS more secure.

.row
  .col-md-7
    .container-md
      .row
        .col-md-3
          .panel.b
            .panel-heading.bg-gray-lighter.text-bold Settings
            .list-group
              %a.list-group-item{'data-toggle' => 'tab', :href => '#generalTab'} General
              %a.list-group-item{'data-toggle' => 'tab', :href => '#studentsTab'} Students
              %a.list-group-item{'data-toggle' => 'tab', :href => '#staffTab'} Staff
              %a.list-group-item{'data-toggle' => 'tab', :href => '#otherTab'} Other
        .col-md-9
          .tab-content.p0.b0
            #generalTab.tab-pane.active
              .panel.b
                .panel-heading.bg-gray-lighter.text-bold General
                .panel-body
                  %form
                    .form-group
                      %label Name
                      %input.form-control{:type => 'text'}
                    .form-group
                      %label Bio
                      %textarea.form-control{:rows => '3'}
                    .form-group
                      %label URL
                      %input.form-control{:type => 'text'}
                    .form-group
                      %label Company
                      %input.form-control{:type => 'text'}
                    .form-group
                      %label Location
                      %input.form-control{:type => 'text'}
                    %button.btn.btn-info{:type => 'button'} Update settings
                    %p
                      %small.text-muted * Integer fermentum accumsan metus, id sagittis ipsum molestie vitae
  .col-md-5
    %pre= Genesis::INFO.environment
    %pre= Genesis::INFO.installed_modules