body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.highlighter {
    background-color: yellow;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.field-validation-valid {
    display: none;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.display-label {
    font-weight: bold;
}

.display-field {
    margin-bottom: 8px;
}

.editor-label {
    font-weight: bold;
}

.editor-field {
    margin-bottom: 8px;
}

.editor-field input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #666666;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.editor-field textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #666666;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.TreeView {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

    .TreeView ul {
        list-style-type: none;
        margin-top: 5px;
    }

    .TreeView .Group {
        cursor: pointer;
    }

    .TreeView .Item, .Value {
        margin-left: 25px;
        cursor: pointer;
    }

        .TreeView .Group :hover, .Item :hover, .Value :hover {
            color: darkblue;
        }

#pageLoading {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    z-index: 99999;
    font-size: 40px;
}

#pageLoadingContent {
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#pageLoadingSpinner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: larger;
    padding-top: 80px;
}