%h3
  = fa_icon 'info-circle'
  Help

.flatdoc-wrapper
  .flatdoc
    .flatdoc-menu
      %ul
        %li#root-item.level-0
          %ul#root-list.level-1
            %li#angle-item.level-1
              %a#angle-link.level-1{:href => "#angle"}= Genesis::INFO.app_name
              %ul#angle-list.level-2
                %li#angle-section-a-item.level-2
                  %a#angle-section-a-link.level-2{:href => "#angle-section-a"} Section A
                  %ul#angle-section-a-list.level-3
                    %li#angle-section-a-sub-section-item.level-3
                      %a#angle-section-a-sub-section-link.level-3{:href => "#angle-section-a-sub-section"} Sub section
                %li#angle-section-b-item.level-2
                  %a#angle-section-b-link.level-2{:href => "#angle-section-b"} Section B
                  %ul#angle-section-b-list.level-3
                    %li#angle-section-b-subsection-item.level-3
                      %a#angle-section-b-subsection-link.level-3{:href => "#angle-section-b-subsection"} Subsection
                %li#angle-section-c-item.level-2
                  %a#angle-section-c-link.level-2{:href => "#angle-section-c"} Section C
                  %ul#angle-section-c-list.level-3
                    %li#angle-section-c-subsection-item.level-3
                      %a#angle-section-c-subsection-link.level-3{:href => "#angle-section-c-subsection"} Subsection
                    %li#angle-section-c-last-item.level-3
                      %a#angle-section-c-last-link.level-3{:href => "#angle-section-c-last"} Last
    .flatdoc-content
      %h1#angle= Genesis::INFO.app_name
      %h2#angle-section-a Section A
      %p Markdown documentation example
      %h3#angle-section-a-sub-section Sub section
      %p
        Suspendisse ullamcorper eros eget augue ultrices feugiat.
        Nulla consequat, libero vitae bibendum semper, magna nulla pellentesque odio, non cursus turpis velit et diam. Nunc sed mi arcu. Suspendisse interdum erat id ligula commodo ut vestibulum justo venenatis.
      %blockquote
        %p Sed ullamcorper pulvinar urna, id pharetra arcu dictum sit amet.
      %h2#angle-section-b Section B
      %h3#angle-section-b-subsection Subsection
      %p Nunc hendrerit, neque ullamcorper eleifend ornare, arcu est bibendum ipsum, id malesuada sem justo vitae justo. Pellentesque a lectus sem, et suscipit nunc. Nunc feugiat lorem varius mauris egestas elementum. Nam sodales sollicitudin adipiscing.
      %h4 No section title
      %p In ac leo dui, vel pellentesque mauris. Duis imperdiet, enim vitae euismod mattis, lectus nibh interdum felis, quis eleifend orci orci sed quam. Aenean in sollicitudin velit. Duis eleifend elementum commodo.
      %h2#angle-section-c Section C
      %h3#angle-section-c-subsection Subsection
      %p Nunc hendrerit, neque ullamcorper eleifend ornare, arcu est bibendum ipsum, id malesuada sem justo vitae justo. Pellentesque a lectus sem, et suscipit nunc. Nunc feugiat lorem varius mauris egestas elementum. Nam sodales sollicitudin adipiscing.
      %ul
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
        %li
      %h3#angle-section-c-last Last
      %p Etiam nisi dui, sodales ut dignissim vitae, eleifend non nisi.
