@model List<School>

@{
    ViewBag.Module = "Schools";
    ViewBag.Title = "All Schools";
}

@(Html.Kendo().Grid<District>()
      .Name("pagingGrid")
      .Columns(cols =>
      {
          cols.NavigationButton(p => p.Id, "Select", Url.Action("Edit"));
          cols.Bound(p => p.SystemCode);
          cols.Bound(p => p.Name);
          cols.Bound(p => p.Address.FirstAddressLine);
      })
      .StandardPagingGrid("School", "Administration")
)

@section headerActions {
    <div class="aui-buttons">
        @Html.ActionLink("Create", "Create", null, new { @class = "aui-button" })
    </div>
}