.sidebar-menu
  .sidebar-menu-inner
    %ul.main-menu#main-menu
      %li.root-level
        %a
          %i.entypo-graduation-cap
          Information
      %li.root-level
        %a
          %i.entypo-graduation-cap
          Schedule
      %li.root-level
        %a
          %i.entypo-clock
          Attendance
      %li.root-level
        %a
          %i.entypo-graduation-cap
          Enrollment History
      %li.root-level
        %a
          %i.entypo-graduation-cap
          Transcripts
      %li.root-level
        %a
          %i.entypo-graduation-cap
          Discipline
      %li.root-level
        %a
          %i.fa.fa-money
          Billing
      %li.root-level
        %a
          %i.entypo-graduation-cap
          Eligibility
      %li.root-level
        %a
          %i.entypo-book
          Assessments