.sidebar-menu
  .sidebar-menu-inner
    %ul.main-menu#main-menu
      %li.root-level
        %a{href: student_path(@student)}
          %i.fa.fa-table
          %span.title Information
      %li.root-level
        %a
          %i.fa.fa-clock-o
          %span.title Schedule
      %li.root-level
        %a
          %i.fa.fa-calendar-check-o
          %span.title Attendance
      %li.root-level
        %a
          %i.fa.fa-list-alt
          %span.title Enrollment History
      %li.root-level
        %a
          %i.fa.fa-graduation-cap
          %span.title Transcripts
      %li.root-level
        %a
          %i.fa.fa-thumbs-down
          %span.title Discipline
      %li.root-level
        %a
          %i.fa.fa-money
          %span.title Billing
      %li.root-level
        %a
          %i.fa.fa-futbol-o
          %span.title Eligibility
      %li.root-level
        %a
          %i.fa.fa-book
          %span.title Assessments