= form_for @student, url: student_path(@student), method: :patch, :html => {:class => ''} do |f|
  .card
    .card-header
      Edit Student
    .card-deck
      .form-horizontal
        = error_messages_for 'student'

    .card-footer
      = link_to 'Cancel', grades_path, :class => 'btn btn-secondary'
      = f.submit 'Save Changes', :class => 'btn btn-primary'