- page_title @student.formatted_full_name, 'Student Information'

.row.row-offcanvas.row-offcanvas-left
  .col-sm-2.col-xs-12.sidebar-offcanvas#sidebar
    = render :partial => 'students/common/sidebar', :locals => {:student => @student}
  .col-sm-10.col-xs-12
    = render_horizontal_nav student_tabs

= content_for :scripts do
  :javascript
      $(document).ready(function () {
        $('[data-toggle="offcanvas"]').click(function () {
          $('.row-offcanvas').toggleClass('active')
        });
      });