<%= render :partial => 'students/sidebar', :locals => { :student => @student } %>

<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-content">
      <%= render_tabs student_tabs %>
    </section>
  </div>
</div>

<script type="text/javascript">
  var sidebar = AJS.sidebar('#student-sidebar');
</script>