<div class="aui-sidebar" aria-expanded="true">
    <div class="aui-sidebar-wrapper">
        <div class="aui-sidebar-body">
            <nav class="aui-navgroup aui-navgroup-vertical">
                <div class="aui-navgroup-inner">
                    <div class="aui-sidebar-group aui-sidebar-group-tier-one">
                        <div class="aui-nav-heading" title="Stuff">
                            <strong>Navigation</strong>
                        </div>
                        <ul class="aui-nav">
                            <li>
                                <a class="aui-nav-item" href="@Url.Action("Index", "District", new {area = "Administration"})">
                                    <span class="aui-icon aui-icon-small aui-iconfont-admin-roles"></span>
                                    <span class="aui-nav-item-label">Districts</span>
                                </a>
                            </li>
                            <li>
                                <a class="aui-nav-item" href="@Url.Action("Index", "School", new {area = "Administration"})">
                                    <span class="aui-icon aui-icon-small aui-iconfont-admin-roles"></span>
                                    <span class="aui-nav-item-label">Schools</span>
                                </a>
                            </li>
                            <li>
                                <a class="aui-nav-item" href="@Url.Action("Config", "Dashboard", new {area = "Administration"})">
                                    <span class="aui-icon aui-icon-small aui-iconfont-configure"></span>
                                    <span class="aui-nav-item-label">System Configuration</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="aui-sidebar-footer">
            <a class="aui-sidebar-toggle aui-sidebar-footer-tipsy aui-button aui-button-subtle"><span class="aui-icon"></span></a>
        </div>
    </div>
</div>