@model District

@{
    ViewBag.Title = "Create new District";
}

@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                Create
            </div>
        </div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.EditorFor(m => Model)
        </div>
        <div class="panel-footer">
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
            <input name="action" type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
}