@model List<District>

@{
    ViewBag.Module = "Districts";
    ViewBag.Title = "All Districts";
}

@(Html.Kendo().Grid<District>()
      .Name("pagingGrid")
      .Columns(cols =>
      {
          cols.NavigationButton(p => p.Id, "Select", Url.Action("Detail")).Title("");
          cols.Bound(p => p.SystemCode).Width(125);
          cols.Bound(p => p.Name);
          cols.Bound(p => p.Address.FirstAddressLine);
      })
      .StandardPagingGrid("District", "Administration")
)

@section headerActions {
    <div class="aui-buttons">
        @Html.ActionLink("Create", "Create", null, new { @class = "aui-button" })
    </div>
}
