- page_title @address.student.formatted_full_name, 'Edit Address'

= render :partial => 'students/common/header', :locals => {:student => @address.student }

.row
  .col-sm-2.col-xs-12
    = render :partial => 'students/common/sidebar', :locals => {:student => @address.student }
  .col-sm-10.col-xs-12