- page_title @student.formatted_full_name, 'Notes'

= render :partial => 'students/common/header', :locals => {:student => @student }

.row
  .col-sm-2.col-xs-12
    = render :partial => 'students/common/sidebar', :locals => {:student => @student}
  .col-sm-10.col-xs-12
    Content