%h3
  Welcome back Justin!

.row
  .col-sm-4
    - if @announcements.any?
      .panel.panel-primary
        .panel-heading
          = fa_icon 'bullhorn'
          Announcements
        %ul.list-group.list-group-flush
          - @announcements.each do |announcement|
            %li.list-group-item{:class => ('list-group-item-warning' if announcement.is_flagged)}
              %h4.strong
                = announcement.title
              = announcement.body
    .panel.panel-primary
      .panel-heading
        = fa_icon 'search'
        Student Quick Search
      .panel-body
        %form.form-inline
          .form-group
            %label Student ID
            %input.form-control
  .col-sm-8
    %p More coming soon!
