<div class="generalAdminHeading aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main">
      <ol class="aui-nav aui-nav-horizontal">
        <li><h1>Dashboard</h1></li>
      </ol>
    </div>
  </div>
</div>
<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <div class="aui-page-panel-content">
      <p>
        <strong>Welcome,</strong> <%= current_user.full_name %>!
      </p>
      <p>Current SchoolId <%= session[:school_id] %></p>

    </div>
  </div>
</div>