<div class="aui-page-panel oddpanelbug" id="districts">
  <div class="aui-page-panel-inner">
    <div class="aui-page-panel-content">
      <h2>Grades</h2>
      <form class="aui top-label">
        <div class="error aui-message hidden">
          <span class="aui-icon icon-error"></span>
          <div class="message"></div>
        </div>
        <table class="aui aui-table-interactive">
          <thead class="assistive">
          <tr>
            <th class="default-toggle">Default?</th>
            <th class="name">version name</th>
            <th class="actions">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr class="form">
            <td class="name" colspan="2">
              <div>
                <label for="id_name">Name</label>
                <input name="name" class="text" id="id_name" type="text" placeholder="Enter version name">
              </div>
            </td>
            <td class="actions">
              <button class="aui-button" type="submit" resolved="">
                Add
              </button>
            </td>
          </tr>
          <tr title="Set as default">
            <td class="default-toggle">
              <div>
                <a class="aui-lozenge aui-lozenge-subtle" href="#default">Default</a>
              </div>
            </td>
            <td class="name">
              <div>
                0.1
              </div>
            </td>
            <td class="actions">
              <div>
                <a href="#edit">
                  <span title="Edit version 0.1" class="aui-icon aui-icon-small aui-iconfont-edit">Edit version 0.1</span>
                </a>
                <a title="Delete version 0.1" href="#delete">
                  <span class="aui-icon aui-icon-small aui-iconfont-remove">Delete</span>
                </a>
              </div>
            </td>
          </tr>
          <tr title="Set as default">
            <td class="default-toggle">
              <div>
                <a class="aui-lozenge aui-lozenge-subtle" href="#default">Default</a>
              </div>
            </td>
            <td class="name">
              <div>
                0.2
              </div>
            </td>
            <td class="actions">
              <div>
                <a href="#edit">
                  <span title="Edit version 0.2" class="aui-icon aui-icon-small aui-iconfont-edit">Edit version 0.2</span>
                </a>
                <a title="Delete version 0.2" href="#delete">
                  <span class="aui-icon aui-icon-small aui-iconfont-remove">Delete</span>
                </a>
              </div>
            </td>
          </tr>
          <tr title="Set as default">
            <td class="default-toggle">
              <div>
                <a class="aui-lozenge aui-lozenge-subtle" href="#default">Default</a>
              </div>
            </td>
            <td class="name">
              <div>
                0.3
              </div>
            </td>
            <td class="actions">
              <div>
                <a href="#edit">
                  <span title="Edit version 0.3" class="aui-icon aui-icon-small aui-iconfont-edit">Edit version 0.3</span>
                </a>
                <a title="Delete version 0.3" href="#delete">
                  <span class="aui-icon aui-icon-small aui-iconfont-remove">Delete</span>
                </a>
              </div>
            </td>
          </tr>
          <tr title="Set as default">
            <td class="default-toggle">
              <div>
                <a class="aui-lozenge aui-lozenge-subtle" href="#default">Default</a>
              </div>
            </td>
            <td class="name">
              <div>
                0.4
              </div>
            </td>
            <td class="actions">
              <div>
                <a href="#edit">
                  <span title="Edit version 0.4" class="aui-icon aui-icon-small aui-iconfont-edit">Edit version 0.4</span>
                </a>
                <a title="Delete version 0.4" href="#delete">
                  <span class="aui-icon aui-icon-small aui-iconfont-remove">Delete</span>
                </a>
              </div>
            </td>
          </tr>
          <tr title="Set as default">
            <td class="default-toggle">
              <div>
                <a class="aui-lozenge aui-lozenge-subtle" href="#default">Default</a>
              </div>
            </td>
            <td class="name">
              <div>
                0.5
              </div>
            </td>
            <td class="actions">
              <div>
                <a href="#edit">
                  <span title="Edit version 0.5" class="aui-icon aui-icon-small aui-iconfont-edit">Edit version 0.5</span>
                </a>
                <a title="Delete version 0.5" href="#delete">
                  <span class="aui-icon aui-icon-small aui-iconfont-remove">Delete</span>
                </a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <script id="issues-category-template" type="text/html">


          <td class="default-toggle">
            <div>
              <a href="#default" class="aui-lozenge aui-lozenge-subtle">Default</a>
            </div>
          </td>
          <td class="name">
            <div>
              [[name]]
            </div>
          </td>
          <td class="actions">
            <div>
              <a href="#edit">
      <span class="aui-icon aui-icon-small aui-iconfont-edit"
            title="Edit [[singular]] [[name]]">Edit [[singular]] [[name]]</span>
              </a>
              <a href="#delete"
                 title="Delete [[singular]] [[name]]">
                <span class="aui-icon aui-icon-small aui-iconfont-remove">Delete</span>
              </a>
            </div>
          </td>

        </script>
      </form>
    </div>
  </div>
</div>