<div class="aui-page-panel oddpanelbug" id="districts">
  <div class="aui-page-panel-inner">
    <div class="aui-page-panel-content">
      <h2>Grade Levels <small>These are the grades that districts and schools will be allowed to admit students in.</small>
      </h2>
      <hr/>
      <table class="aui">
        <thead>
        <tr>
          <th></th>
          <th style="width: 7%">Sort Order</th>
          <th>Title</th>
          <th>Short Name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>