<div class="aui-page-panel oddpanelbug" id="districts">
  <div class="aui-page-panel-inner">
    <div class="aui-page-panel-content">
      <h2>Schools</h2>
      <%= render_tabs sample_tabs %>
    </div>
  </div>
</div>