%br
.card.card-outline-danger.text-xs-center
  .card-block
    Beware: changes to these settings affect all GeneSIS districts and schools and will
    take effect immediately.

.col-sm-6
  %label.custom-control.custom-checkbox
    %input.custom-control-input{type: 'checkbox'}
    %span.custom-control-indicator
    %span.custom-control-description Setting #1
  %label.custom-control.custom-checkbox
    %input.custom-control-input{type: 'checkbox'}
    %span.custom-control-indicator
    %span.custom-control-description Setting #2
  %label.custom-control.custom-checkbox
    %input.custom-control-input{type: 'checkbox'}
    %span.custom-control-indicator
    %span.custom-control-description Setting #3
  %label.custom-control.custom-checkbox
    %input.custom-control-input{type: 'checkbox'}
    %span.custom-control-indicator
    %span.custom-control-description Setting #4
.col-sm-6
  .card
    .card-block
      %pre= Genesis::INFO.environment