<div class="aui-page-panel oddpanelbug" id="districts">
  <div class="aui-page-panel-inner">
    <div class="aui-page-panel-content">
      <h2>System Settings
        <small style="color: red">Beware: changes to these settings affect all GeneSIS districts and schools and will
          take effect immediately.
        </small>
      </h2>

      <div class="aui-group">

        <div class="aui-item">
          Your content here
        </div>

        <div class="aui-item">
          <table class="aui">
            <thead>
            <tr>
              <th colspan="2">SYSTEM VERSION INFORMATION</th>
            </tr>
            <tr>
              <th>Component</th>
              <th>Version</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>GeneSIS</td>
              <td><%= Genesis::INFO.version %></td>
            </tr>
            <tr>
              <td>Ruby</td>
              <td><%= RUBY_VERSION %></td>
            </tr>
            <tr>
              <td>Rails</td>
              <td><%= Rails::VERSION::STRING %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>