<div class="generalAdminHeading aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main">
      <ol class="aui-nav aui-nav-horizontal">
        <li><h1>System Administration</h1></li>
      </ol>
    </div>
    <div class="aui-page-header-actions">
      <a id="proj-config-return-link" class="aui-button back-to-proj-config" href="#" tabindex="0">
        <span class=" icon aui-icon aui-icon-small aui-iconfont-back-page icon-default"></span>
        Back to project: Denarii
      </a>
    </div>
  </div>
</div>

<%= render_vertical_nav settings_nav_menu %>