<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="ApiClientsSection" type="eSIS.Core.API.Configuration.ApiClientSection, eSIS.Core.API" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <ApiClientsSection>
    <Clients>
      <add clientName="eSISLocalDevelopmentUI" token="C880EAC5-A3E3-40F9-8083-140BF49A9B7C" isActive="true" />
    </Clients>
  </ApiClientsSection>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="db" xsi:type="Database" connectionStringName="SIS_Desktop" commandType="StoredProcedure" commandText="exec inf.usp_LogInsert @MachineName,@SiteName,@Logged,@Level,@UserName,@Message,@Logger,@Properties,@ServerName,@Port,@Url,@Https,@ServerAdddress,@RemoteAddress,@CallSite,@Exception">
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@SiteName" layout="${iis-site-name} " />
        <parameter name="@Logged" layout="${date}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@UserName" layout="${aspnet-user-identity}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@Properties" layout="${all-event-properties:separator=|}" />
        <parameter name="@ServerName" layout="${aspnet-request:serverVariable=SERVER_NAME}" />
        <parameter name="@Port" layout="${aspnet-request:serverVariable=SERVER_PORT}" />
        <parameter name="@Url" layout="${aspnet-request:serverVariable=HTTP_URL}" />
        <parameter name="@Https" layout="${when:inner=1:when='${aspnet-request:serverVariable=HTTPS}' == 'on'}${when:inner=0:when='${aspnet-request:serverVariable=HTTPS}' != 'on'}" />
        <parameter name="@ServerAddress" layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
        <parameter name="@RemoteAddress" layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />
        <parameter name="@CallSite" layout="${callsite}" />
        <parameter name="@Exception" layout="${exception:tostring}" />
      </target>
      <target xsi:type="File" name="logFile" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="${basedir}/apilog_${date:format=yyyy-MM-dd}.log" lineEnding="Default" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logFile" />
    </rules>
  </nlog>
  <appSettings>
    <!-- .Net Settings -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- System Configuration -->
    <add key="System.Name" value="eSIS API" />
    <add key="System.Version" value="0.1" />
    <!-- Instance Configuration -->
    <add key="Instance.Name" value="Dev" />
    <add key="Instance.IsProduction" value="false" />
    <add key="Instance.DbConnectionName" value="SIS_Desktop" />
    <add key="Instance.DbIsLogging" value="false" />
    <add key="Instance.DbLogFilePath" value="C:\Temp\DbOutput.txt" />
  </appSettings>
  <connectionStrings>
    <add name="SIS_Desktop" connectionString="server=DESKTOP-G64HHCL\SQLEXPRESS;database=SIS;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="SIS_Laptop" connectionString="server=JUSTINS-DESKTOP\SQLEXPRESS;database=SIS;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="SIS_MCTest" connectionString="data source=mythcoderstest.database.windows.net;initial catalog=SIS;persist security info=True;user id=eSISUser;password=3$]o8w*J2I25L;MultipleActiveResultSets=True;App=eSISAPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
