<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main">
      <h1>Calendars</h1>
    </div>
    <div class="aui-page-header-actions">
      <div class="aui-buttons">
      </div>
    </div>
  </div>
</header>
<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <div class="aui-page-panel-content">
      <p>Content</p>
    </div>
  </div>
</div>