<nav class="aui-navgroup aui-navgroup-horizontal">
  <div class="aui-navgroup-inner">
    <div class="aui-navgroup-primary">
      <ul class="aui-nav">
        <li><a href="#">Nav item</a></li>
        <li class="aui-nav-selected"><a href="#">Selected item</a></li>
        <li><a href="#">Pull requests <aui-badge>123</aui-badge></a></li>
        <li><a href="#dropdown2-nav1" aria-owns="dropdown2-nav1" aria-haspopup="true" class="aui-dropdown2-trigger">Dropdown <span class="aui-icon-dropdown"></span></a></li>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Kitchen sink</a></li>
      </ul>
    </div>
  </div>
</nav>