<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- Instance Configuration -->
    <add key="Instance.Name" value="Task.Playground" />
    <add key="Instance.IsProduction" value="false" />
    <add key="Instance.ApiBaseUrl" value="http://localhost:13001/api/" />
    <add key="Instance.ApiAuthorizationKey" value="744F1564-859E-4A45-B387-AB95FC2C49FB" />
    <add key="Instance.DbConnectionName" value="SIS_Desktop" />
    <add key="Instance.DbIsLogging" value="false" />
    <add key="Instance.DbLogFilePath" value="C:\Temp\DbOutput.txt" />
  </appSettings>
  <connectionStrings>
    <add name="SIS_Desktop" connectionString="server=JustinDesktop\SQLEXPRESS;database=SIS;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="SIS_Laptop" connectionString="server=JUSTINS-DESKTOP\SQLEXPRESS;database=SIS;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="SIS_MCTest" connectionString="data source=mythcoderstest.database.windows.net;initial catalog=SIS;persist security info=True;user id=eSISUser;password=3$]o8w*J2I25L;MultipleActiveResultSets=True;App=eSISAPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="logFile" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" fileName="${basedir}/taskPLayground_${date:format=yyyy-MM-dd}.log" lineEnding="Default" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logFile" />
    </rules>
  </nlog>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>