.list-group
  %a.list-group-item.list-group-item-action.active{href: student_path(@student)}
    %i.fa.fa-wpforms
    Information
  %a.list-group-item.list-group-item-action{href: student_path(@student)}
    %i.fa.fa-clock-o
    Schedule
  %a.list-group-item.list-group-item-action{href: student_path(@student)}
    %i.fa.fa-calendar-check-o
    Attendance
  %a.list-group-item.list-group-item-action{href: student_path(@student)}
    %i.fa.fa-list-alt
    Enrollments
  %a.list-group-item.list-group-item-action{href: student_path(@student)}
    %i.fa.fa-graduation-cap
    Transcripts
  %a.list-group-item.list-group-item-action{href: student_path(@student)}
    %i.fa.fa-thumbs-down
    Discipline
  %a.list-group-item.list-group-item-action{href: student_path(@student)}
    %i.fa.fa-money
    Billing
  %a.list-group-item.list-group-item-action{href: student_path(@student)}
    %i.fa.fa-futbol-o
    Eligibility
  %a.list-group-item.list-group-item-action{href: student_path(@student)}
    %i.fa.fa-book
    Assessments