.list-group
  %a.list-group-item.list-group-item-action{href: student_path(@student), :class => ('active' if controller?('students') && action?('show');)}
    %i.fa.fa-wpforms
    Information
  %a.list-group-item.list-group-item-action{href: student_addresses_path(@student), :class => ('active' if controller?('student_addresses') && action?('index');)}
    %i.fa.fa-home
    Addresses and Contacts
  %a.list-group-item.list-group-item-action{href: student_notes_path(@student), :class => ('active' if controller?('student_notes') && action?('index');)}
    %i.fa.fa-sticky-note
    Notes
  %a.list-group-item.list-group-item-action{href: student_path(@student)}
    %i.fa.fa-graduation-cap
    Enrollment History