<div class="aui-page-panel&#10;            indra-one-wide" id="login-panel">
  <header class="indra-header aui-page-header" style="padding-bottom:10px;">
    <div class="aui-page-header-inner">
      <div class="aui-pageheader-main">
        <h1>Log in</h1>
        <p><a href="/">mythcoders.atlassian.net</a></p>
      </div>
    </div>
  </header>
  <div class="aui-group indra-login-method ">

    <div class="aui-item indra-login-item indra-login-crowd">
      <h2 class="indra-login-item-heading">Use your <strong>Atlassian Cloud</strong> account</h2>
      <form class="aui top-label " id="form-crowd-login" method="POST" data-login-type="crowd" autocorrect="off" autocapitalize="off">


        <div class="field-group" id="username-field">
          <label for="username">Email address / Username </label>

          <input name="username" class="text full-width-field" id="username" autofocus="autofocus" type="text" placeholder="Email address / Username" value="">


        </div>


        <div class="field-group" id="password-field">
          <label for="password">Password </label>

          <input name="password" class="password full-width-field" id="password" type="password" placeholder="Password" value="">


        </div>


        <div class="buttons-container">
          <div class="buttons">
            <button class="aui-button aui-button-primary" id="login" type="submit">
              Log in
            </button>
          </div>
        </div>


        <div class="field-group">
          <div class="checkbox">
            <input name="remember-me" class="checkbox" id="remember-me" type="checkbox" value="true">
            <label for="remember-me">Keep me logged in</label>
          </div>
        </div>


        <p class="indra-signup">
          <a name="forgot" id="forgot" href="/login/forgot">Unable to access your account?</a><br>
          <span id="signup-disabled" style="display: inline;">To request an account, please contact your site administrators.</span>
                          <span id="signup-enabled">
                            <a href="/admin/users/sign-up">Create an account</a>
                          </span>
        </p>

        <input name="dest-url" id="dest-url" type="hidden" value="/secure/Dashboard.jspa">


        <input name="xsrf" id="xsrf" type="hidden" value="">

      </form>
    </div>
  </div>
</div>