/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * --- Angle Main Stylesheet
 * 
 *= require angle/app
 *
 * --- Assets paths redefinition 
 * 
 *= require fonts
 *= require vendor.assets
 *
 */

.action-column {
  width: 5%
}

.points {
  display: inline-block;
  float: left;
}

.score {
  float: right;
  display: inline-block;
  font-style: italic;
  text-align: right;
}

.gradeBook {

}

.gradeBook-column-sticky {
  position: absolute;
  width: 5em;
  left: 0;
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
}

.gradeBook-column-scroll {

}