.page-type-indra {
    padding: 0 20px;
    text-align: center;
}
.page-type-indra .aui-page-panel {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 50px auto 0 auto;
    text-align: left;
    width: auto;
}
.page-type-message .aui-page-panel {
    min-width: 600px;
    max-width: 600px;
}
.indra-one-wide {
    max-width: 320px;
}
.indra-two-wide {
    max-width: 600px;
}
.indra-three-wide {
    max-width: 730px;
}
.indra-three-wide>.aui-group>.aui-item {
    padding-left: 0;
}
.indra-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.indra-header h1+p {
    margin-top: 0;
}
.indra-login-crowd {
    width: 270px;
}
.indra-login-method {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: auto;
}
.indra-login-multiple>.indra-login-item {
    padding: 0 20px;
}
.indra-login-separator>strong {
    background: #fff;
    display: inline-block;
    padding: 0 10px;
}
.indra-login-method>.indra-login-gapps .aui-message {
    text-align: left;
}
.indra-button-gapps {
    padding-left: 31px!important;
    position: relative;
}
.indra-login-method>.indra-login-gapps label, .indra-login-method>.indra-login-atlassian-id label {
    color: inherit;
}
.indra-login-method>.indra-login-item .indra-login-item-heading:first-child {
    font-size: 14px;
    line-height: 1.42857142857143;
    margin-top: 0;
}
.indra-login-item-heading+form.aui {
    margin-top: 10px;
}
.indra-login-item-heading strong {
    white-space: nowrap;
}