- theme = cookies[:theme]
%nav
  %div{:role => 'tabpanel'}
    -#%ul.nav.nav-tabs.nav-justified{:role => "tablist"}
    -#  %li.active{:role => "presentation"}
    -#    %a{"aria-controls" => "app-settings", "data-toggle" => "tab", :href => "#app-settings", :role => "tab"}
    -#      %em.icon-equalizer.fa-lg
    .tab-content
      #app-settings.tab-pane.fade.in.active{:role => 'tabpanel'}
        %h3.text-center.text-thin Preferences
        .p
          %h4.text-muted.text-thin Themes
          .table-grid.mb
            .col.mb
              .setting-color
                %label{'data-change-theme' => 'a'}
                  %input{:checked => ('checked' if theme == 'a'), :name => 'setting-theme', :type => 'radio'}
                  %span.icon-check
                  %span.split
                    %span.color.bg-info
                    %span.color.bg-info-light
                  %span.color.bg-white
            .col.mb
              .setting-color
                %label{'data-change-theme' => 'b'}
                  %input{:checked => ('checked' if theme == 'b'),:name => 'setting-theme', :type => 'radio'}
                  %span.icon-check
                  %span.split
                    %span.color.bg-green
                    %span.color.bg-green-light
                  %span.color.bg-white
            .col.mb
              .setting-color
                %label{'data-change-theme' => 'c'}
                  %input{:checked => ('checked' if theme == 'c'), :name => 'setting-theme', :type => 'radio'}
                  %span.icon-check
                  %span.split
                    %span.color.bg-purple
                    %span.color.bg-purple-light
                  %span.color.bg-white
            .col.mb
              .setting-color
                %label{'data-change-theme' => 'd'}
                  %input{:checked => ('checked' if theme == 'd'), :name => 'setting-theme', :type => 'radio'}
                  %span.icon-check
                  %span.split
                    %span.color.bg-danger
                    %span.color.bg-danger-light
                  %span.color.bg-white
          .table-grid.mb
            .col.mb
              .setting-color
                %label{'data-change-theme' => 'e'}
                  %input{:checked => ('checked' if theme == 'e'), :name => 'setting-theme', :type => 'radio'}
                  %span.icon-check
                  %span.split
                    %span.color.bg-info-dark
                    %span.color.bg-info
                  %span.color.bg-gray-dark
            .col.mb
              .setting-color
                %label{'data-change-theme' => 'f'}
                  %input{:checked => ('checked' if theme == 'f'), :name => 'setting-theme', :type => 'radio'}
                  %span.icon-check
                  %span.split
                    %span.color.bg-green-dark
                    %span.color.bg-green
                  %span.color.bg-gray-dark
            .col.mb
              .setting-color
                %label{'data-change-theme' => 'g'}
                  %input{:checked => ('checked' if theme == 'g'), :name => 'setting-theme', :type => 'radio'}
                  %span.icon-check
                  %span.split
                    %span.color.bg-purple-dark
                    %span.color.bg-purple
                  %span.color.bg-gray-dark
            .col.mb
              .setting-color
                %label{'data-change-theme' => 'h'}
                  %input{:checked => ('checked' if theme == 'h'), :name => 'setting-theme', :type => 'radio'}
                  %span.icon-check
                  %span.split
                    %span.color.bg-danger-dark
                    %span.color.bg-danger
                  %span.color.bg-gray-dark
        .p
          %h4.text-muted.text-thin Layout
          .clearfix
            %p.pull-left Fixed
            .pull-right
              %label.switch
                %input#chk-fixed{'data-toggle-state' => 'layout-fixed', :type => 'checkbox'}/
                %span
          .clearfix
            %p.pull-left Boxed
            .pull-right
              %label.switch
                %input#chk-boxed{'data-toggle-state' => 'layout-boxed', :type => 'checkbox'}/
                %span
          .clearfix
            %p.pull-left RTL
            .pull-right
              %label.switch
                %input#chk-rtl{:type => 'checkbox'}/
                %span
        .p
          %h4.text-muted.text-thin Aside
          .clearfix
            %p.pull-left Collapsed
            .pull-right
              %label.switch
                %input#chk-collapsed{'data-toggle-state' => 'aside-collapsed', :type => 'checkbox'}/
                %span
          .clearfix
            %p.pull-left Collapsed Text
            .pull-right
              %label.switch
                %input#chk-collapsed-text{'data-toggle-state' => 'aside-collapsed-text', :type => 'checkbox'}/
                %span
          .clearfix
            %p.pull-left Float
            .pull-right
              %label.switch
                %input#chk-float{'data-toggle-state' => 'aside-float', :type => 'checkbox'}/
                %span
          .clearfix
            %p.pull-left Hover
            .pull-right
              %label.switch
                %input#chk-hover{'data-toggle-state' => 'aside-hover', :type => 'checkbox'}/
                %span
          .clearfix
            %p.pull-left Show Scrollbar
            .pull-right
              %label.switch
                %input#chk-hover{'data-target' => '.sidebar', 'data-toggle-state' => 'show-scrollbar', :type => 'checkbox'}/
                %span