<% if @model.present? and @model.errors.any? %>
    <div id="error_explanation" style="color: red">
      <strong><%= pluralize(@model.errors.count, 'error') %> prohibited this record from being saved</strong>
      <ul>
        <% @model.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

    <hr/>
<% end %>