<nav class="aui-navgroup aui-navgroup-horizontal">
  <div class="aui-navgroup-inner">
    <div class="aui-navgroup-primary">
      <ul class="aui-nav">
        <% tabs.each do |tab| %>
            <li class="<%= (tab[:name] != selected_tab ? nil : 'aui-nav-selected') %>">
              <%= link_to tab[:label], root_path %>
            </li>
        <% end -%>
      </ul>
    </div>
  </div>
</nav>