<div class="aui-tabs horizontal-tabs">
  <ul class="tabs-menu">
    <% tabs.each do |tab| -%>
        <li class="<%= (tab[:name] == selected_tab ? 'menu-item active-tab' : 'menu-item') %>">
          <%= link_to tab[:label], {:tab => tab[:name]},
                      :id => "tab-#{tab[:name]}",
                      :onclick => "showTab('#{tab[:name]}', this.href); this.blur(); return false;)" %>
        </li>
    <% end -%>
  </ul>
</div>

<% tabs.each do |tab| -%>
    <%= content_tag('div', render(:partial => tab[:partial], :locals => {:tab => tab}),
                    :id => "tab-content-#{tab[:name]}",
                    :style => (tab[:name] != selected_tab ? 'display:none' : nil),
                    :class => 'tabs-pane active-pane tab-content') %>
<% end -%>