<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-content">
      <!-- Page content goes here -->
      <p>Hey Dave</p>
    </section>
  </div>
</div>