<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- Database Configuration -->
    <add key="Instance.DbConnectionName" value="SIS_Desktop" />
  </appSettings>
  <connectionStrings>
    <add name="SIS_Desktop" connectionString="server=AsusDesktop;database=SIS;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="SIS_Laptop" connectionString="server=SurfaceBook\SQLEXPRESS;database=SIS;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="SIS_MCTest" connectionString="data source=mythcoderstest.database.windows.net;initial catalog=SIS;persist security info=True;user id=eSISUser;password=3$]o8w*J2I25L;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework codeConfigurationType="eSIS.Database.SisContextConfiguration, eSIS.Database">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>