<section role="dialog" id="adv-search-dialog" class="aui-layer aui-dialog2 aui-dialog2-xlarge" aria-hidden="true">
  <header class="aui-dialog2-header">
    <h2 class="aui-dialog2-header-main">GeneSIS Advacned Search</h2>
    <!-- Actions to render on the right of the header -->
    <div class="aui-dialog2-header-secondary">
    </div>
    <a class="aui-dialog2-header-close">
      <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
    </a>
  </header>
  <div class="aui-dialog2-content">
    <p>With GeneSIS Advacned Search, you can search for a variety of different things all from one search box!</p>
    <form class="aui">
      <div class="field-group">
        <input id="quick-search-query" class="text" type="search" name="search">
      </div>
    </form>


    <div class="button-spinner"></div>
  </div>
  <footer class="aui-dialog2-footer">
    <div class="aui-dialog2-footer-actions">
      <button id="dialog-next-button" class="aui-button">Help</button>
      <button id="adv-search-close-button" class="aui-button aui-button-link">Close</button>
    </div>
    <div class="aui-dialog2-footer-hint">You can search for students, teachers, _, _, and more!</div>
  </footer>
</section>